*/imagej/build
**/build/

*/imagej/plugins
**/plugins/
**/plugins

# imagens_Arvores/Arvores_Individuais/*
# !imagens_Arvores/Arvores_Individuais/.gitkeep
# **/Arvores_Individuais/*

**/ij.jar
*ij.jar